/* Ini File css */

main {
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.main-title {
    text-align: center;
}

.main-section {
    padding: 16px;
    background: aliceblue;
    border-radius: 4px;
}

.section-celcius {
    padding-top: 10px;
}

.section-fahrenheit {
    padding-top: 5px;
}

.section-result {
    padding-top: 5px;
}

.section-explanation {
    padding-top: 5px;
}

textarea {
    border: 2px solid skyblue;
    border-radius: 4px;
    color: darkblue;
    font-size: 20px;
    font-style: normal;
    height: 50%;
    width: 100%;
    resize: none;
}

.formula-s {
    font-size: 25px;
    font-style: italic;
}

.formula-s>sub {
font-style: normal;
}

.container-button{
    padding-top: 8px;
}

button {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-family: 'Times New Roman', Times, serif;
}

#button-convert {
    background-color: lightskyblue;
    color: black;
    margin-right: 8px;
}

#button-reset {
    background-color: lightblue;
    color: black;
    margin-right: 8px;
}

#button-reverse {
    background-color: lightsteelblue;
    color: black;
}

#f-to-c {
    display: none;
}

@media screen and (max-width; 480px) {
    .container-button {
        display: none;
    }
}